---
layout: layout_hi.liquid
title: Hi
company: Noticed
role: UX/UI Designer
description: "<em>Hi there, Noticed. Nice to meet you.</em><br/><br/> You may recognize my site. I applied earlier, but added more relevant case studies since then. I'm a design generalist with 15 years experience, looking to work with: design systems, some CSS, large impactful projects, and accessibility. Thanks for looking."
---


<section class="case-studies theme--light">

		<h2>Some UI Projects I’ve worked on</h2>
	

		<div class="cards">
			 {% for post in collections.uiProject %}

			<a  class="card" href="{{ post.url | url }}" aria-label="Read more on {{ post.data.projectTitle }}">
        <figure>
     			<img src="{{ post.data.thumbnail }}" >
          <figcaption>
          	<h4>{{ post.data.projectTitle }} </h4>
						<p>{{ post.data.description }}</p>
          </figcaption>
        </figure>
      </a>

		  {% endfor %}

		</div>

	</div>

</section>


<section class="case-studies theme--dark">

		<h2>Some UX Projects I’ve worked on</h2>
		<div class="cards">

			{% for post in collections.uxProject %}

			<a class="card" href="{{ post.url | url }}" aria-label="Read more on {{ post.data.projectTitle }}">
        <figure>
     			<img src="{{ post.data.thumbnail }}" >
          <figcaption>
          	<h4>{{ post.data.projectTitle }} </h4>
						<p>{{ post.data.description }}</p>
          </figcaption>
        </figure>
      </a>

		  {% endfor %}

		</div>
	</div>

</section>




