
	</main>

	<footer>
		<picture class="avatar">
			<img src="/img/wes.jpg" width="200" height="200" alt="" />
		</picture>
		<div class="align--center">
			<h1>Thanks for being here. </h1>
			<h4> “And for you just being you” - FR</h4>

			<nav>
				<div class="site-logo">
					<p>Built with <a href="https://www.11ty.dev/">eleventy</a></p>
				</div>
				<p class="social">
					<span><a href="https://twitter.com/wesleymiles">Twitter</a> | </span> 
					<span><a href="https://www.linkedin.com/in/wesley-carr-8918b99/">Linkedin</a> | </span> 
					<span><a href="https://unsplash.com/@wescarr">Unsplash</a></span> 
				</p>
			</nav>

		</div>

	</footer>

	</body>
</html>