<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">		
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} — Wes Carr</title>

		<!-- SEO Tags -->
	  <meta property="og:title" content="{{ title or renderData.title or metadata.title }}"/>
	  <meta property="og:url" content="{{ page.url }} "/>
	  <meta property="og:description" content="{{ description or renderData.description }} "/>
	  <meta property="og:image" content="/img/social-thumbnail.jpg" />

    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gotu&family=Space+Grotesk&display=swap" rel="stylesheet">

    <link rel="icon" href="/img/favicon.ico">
		<link rel="icon" href="/img/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

  </head>

	<body class="{{ title }}">
  	<a class="skip-link nav-tab" href='#main'>Skip to content</a>
		<header class="mast">
			<nav aria-label="Main">

				<div class="site-logo">
					<a href="/">
						<img src="/img/mount.svg" alt="cartoon mountain" />
					</a>
				</div>

				<ul class="nav-menu theme--dark">
					<li><a href="/gift/">Working in the Gift</a></li>
					<li><a href="/work/ui/">UI</a></li>
					<li><a href="/work/ux/">UX</a></li>
					<li><a href="mailto:hi@wescarr.com">Email</a></li>
				</ul>
			</nav>

		</header>

	<main id="main">