<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">		
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} — Wes Carr</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">

    <link rel="icon" href="/img/favicon.ico"><!-- 32×32 -->
		<link rel="icon" href="/img/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png"><!-- 180×180 -->
  </head>

	<body class="{{ title }}">
		<header class="mast">
			<div class="align--left">
				<div class="site-logo">
					<a href="/">
						<img src="/img/mount.svg" />
						<span>Wes Carr</span>
					</a>
				</div>
			</div>
		</header>

	<main>