<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">		
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{projectTitle}}{{role}} — Wes Carr
		</title>

		<!-- SEO Tags -->
	  <meta property="og:title" content="{{ title or renderData.title or metadata.title }}"/>
	  <meta property="og:url" content="{{ page.url }} "/>
	  <meta property="og:description" content="{{ description or renderData.description }} "/>
	  <meta property="og:image" content="/img/social-thumbnail.jpg" />

    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">

    <link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap" rel="stylesheet"> 

    <link rel="icon" href="/img/favicon.ico">
		<link rel="icon" href="/img/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  </head>

	<body class="{{projectTitle}}{{role}} hi ">
		<header class="mast theme--dark">
			<nav>
				<div class="site-logo">
					<!-- <a href="/"> -->
						<img src="/img/mount.svg" />
						<span>Wes Carr</span>
					<!-- </a> -->
				</div>

				<ul class="nav-menu">
					<li><a class="external" href="/img/resume-of-wes-carr.pdf">Resume</a></li>
					<li><a class="external" href="mailto:wescarr@fastmail.com">Email</a></li>
				</ul>
			</nav>

		</header>

	<main>

	<section class="hero theme--dark">
		<div class="content-container --left">

			<h1>{{ projectTitle }} {{ role }}</h1>
			<p>{{ description }}</p>
			
	</div>
</section>