<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">		
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} — Wes Carr</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">

    <link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />

		<link rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" />

		<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      media="print" onload="this.media='all'" />

		<noscript>
		  <link rel="stylesheet"
		        href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" />
		</noscript>

    <link rel="icon" href="/img/favicon.ico">
		<link rel="icon" href="/img/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  </head>

	<body class="{{ title }}">
		<header class="mast">
			<nav>

				<div class="site-logo">
					<a href="/">
						<img src="/img/mount.svg" />
						<span>Wes Carr</span>
					</a>
				</div>

				<ul class="nav-menu">
					<li><a href="/gift/">Gift</a></li>
					<li><a href="/work/ui/">UI</a></li>
					<li><a href="mailto:wescarr@fastmail.com">Email</a></li>
				</ul>
			</nav>

		</header>

	<main>