{% include '_head.liquid' %}
    
<article>

    <header class="content-header">
        <h1 class="content-heading">{{ title }}</h1>
        <p class="content-desc">{{ description }}</p>
    </header>
    
    {{ content }}

</article>
{% include '_foot.html' %}
