---
pagination:
  data: collections.allTags
  size: 1
  alias: tagData
  addAllPagesToCollections: true
layout: blog.liquid
permalink: /blog/tag/{{ tagData.slug }}/index.html
---




{% if tagData.slug == 'trip-report' %}

  {% include 'tripreports.liquid' %}
  <h2>Browse by date</h2>

{% endif %}

{% if tagData.slug == 'art' %}

  <p>Art blog posts featuring individual pieces with descriptions and process notes. For the full gallery slideshow, visit <a href="/art/">the art knoll</a>.</p>
{% endif %}


<ul class="archive-list">

  {%- assign sortedPosts = collections[tagData.original] | sortByEventDate -%}
  {%- for post in sortedPosts -%}
   <li>
      <article class="archive-entry">
        <div class="entry-header">
            <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
            <time class="meta-date" datetime="{{ post.data.date | postDate }}">{{ post.date | postDate }}</time>
        </div>
        <p><span class="excerpt">{{ post.data.description }}</span></p>
      </article>
    </li>
  {%- endfor -%}
</ul>



<section class ="post-footer">
  
  <nav class="posts-next-previous">
      <p>
          <span class="label-prevnext">Back:</span>
          <span class="title-prevnext"><a href="/blog">See all blogs</a></span>
      </p>

  </nav>
</section>