---
layout: layout_hi.liquid
title: Hi
company: Thumbtack
role: Design System Specialist
description: "<em>Hi there, Thumbtack. Nice to meet you.</em><br/><br/>
I'm a design generalist who spent the last 6 years making websites/products for contractors. We have some overlap there. I'm passionate about: design systems and would love to help scale yours.
<br/><br/>I look forward to seeing if we're a fit."
---


<section class="case-studies theme--light">

		<h2>Some UI Projects I’ve worked on</h2>
	

		<div class="cards">
			 {% for post in collections.uiProject %}

			<a  class="card" href="{{ post.url | url }}" aria-label="Read more on {{ post.data.projectTitle }}">
        <figure>
     			<img src="{{ post.data.thumbnail }}" >
          <figcaption>
          	<h4>{{ post.data.projectTitle }} </h4>
						<p>{{ post.data.description }}</p>
          </figcaption>
        </figure>
      </a>

		  {% endfor %}

		</div>

	</div>

</section>


<section class="case-studies theme--dark">

		<h2>Some UX Projects I’ve worked on</h2>
		<div class="cards">

			{% for post in collections.uxProject %}

			<a class="card" href="{{ post.url | url }}" aria-label="Read more on {{ post.data.projectTitle }}">
        <figure>
     			<img src="{{ post.data.thumbnail }}" >
          <figcaption>
          	<h4>{{ post.data.projectTitle }} </h4>
						<p>{{ post.data.description }}</p>
          </figcaption>
        </figure>
      </a>

		  {% endfor %}

		</div>
	</div>

</section>




