---
layout: layout_hi.liquid
title: Hi
company: google
role: Senior UX/UI Designer
description: "Dad, Naturalist, and Senior Designer currently helping home-services contractors get more leads, at a Vermont agency. Freelancing in the Gift-Economy."
---


<section class="case-studies theme--light">

		<h2>Some UI Projects I’ve worked on</h2>
	

		<div class="cards">
			 {% for post in collections.uiProject %}

			<a  class="card" href="{{ post.url | url }}" aria-label="Read more on {{ post.data.projectTitle }}">
        <figure>
     			<img src="{{ post.data.thumbnail }}" >
          <figcaption>
          	<h4>{{ post.data.projectTitle }} </h4>
						<p>{{ post.data.description }}</p>
          </figcaption>
        </figure>
      </a>

		  {% endfor %}

		</div>

	</div>

</section>


<section class="case-studies theme--dark">

		<h2>Some UX Projects I’ve worked on</h2>
		<div class="cards">

			{% for post in collections.uxProject %}

			<a class="card" href="{{ post.url | url }}" aria-label="Read more on {{ post.data.projectTitle }}">
        <figure>
     			<img src="{{ post.data.thumbnail }}" >
          <figcaption>
          	<h4>{{ post.data.projectTitle }} </h4>
						<p>{{ post.data.description }}</p>
          </figcaption>
        </figure>
      </a>

		  {% endfor %}

		</div>
	</div>

</section>




